/*Pagina toda*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Tudo menos menu lateral e navbar*/
.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
/* Iníco Menu Lateral*/
.menulateral{
    width: 20%;
    background-color: white;
    height: 100%;
}

.menulateral a.menuhover{
    border-left: 4px solid #695783;
    background-color: rgb(245,245,245);
    color: #777;
    font-weight: bold;
}
.menulateral a:hover{
    border-left: 4px solid #695783;
    background-color: rgb(245,245,245);
    color: #777;
    font-weight: bold;
}

.menulateral a.menuhover > svg{
    color: #777;
}

.menulateral h3{
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.menulateral a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
    cursor: pointer;
}

.menulateral a > svg{
    color: #444;
}

html, body{height: 100%;}
/*Fim Menu Lateral*/

/*Início Content*/
.content{
    width: 80%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
}
/* Iníco Parte de Cima da PG*/
.titulo-secao{
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.titulo-secao h2{
    font-size: 20px;
}

.titulo-secao p{
    font-size: 14px;
}

.titulo-secao svg{
    color: #695783;
}
/*Fim Parte de Cima da PG*/

/* Início Box dos Clientes*/
.box-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.box-info-single{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin: 0 10px;
}
/*Final Box dos Clientes*/

/*Início Painel dos Clientes*/
.painelClientes{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.painelCab{
    display: absolute;
    align-items: center;
}

.painelCab svg{
    margin-right: 10px;
    font-size: 20px;
}

.painelCab h5{
    font-size: 20px;
    margin: 0;
}
.painelText {
    margin: 10px 0;
    height: 250px;
    overflow: visible;
    overflow-y: auto;        
}

.painelText h6 {
    font-size: 16px;
    margin: 0;
    color: #333;
}
/*Fim Painel dos Clientes*/

/*Fim do Content*/



/* index */

body {
    font-family: 'Montserrat', sans-serif;
    background: #F8F9FA;
}

.logo {
    width: 20%;
    margin-bottom: 5%;
}

.login {
    margin-top: 12%;
    margin-left: 10%;
    margin-right: 10%;
    /*background-color: #FEFEFE;*/
    border-radius: 5%;
    max-width: 330px;
    padding: 1rem;
}

.botao-roxo {
    background-color: #695783;
    border-color: #695783 ;
}

.botao-roxo:hover {
    background-color: #45335fdf;
}

/* principal */

.navbar-nav > li > .dropdown-menu {
    background-color: #695783;
}

.navbar-nav > li > .dropdown-menu a:hover {
    background-color: #f0efef77
}

.pesquisa {
    margin-top: 13%;
}

.pesquisa-avancada {
    padding: 20px;
    margin-left: 150px;
}

.imoveis-display {
    margin: 50px 85px 50px 85px;
}

.ultimos-imoveis {
    margin-bottom: 50px;
    padding-left: 52px;
}

.img-thumbnail {
    height: 250px; 
    width: 250px; 
    object-fit: scale-down;
}

.imagem-imovel {
    text-align: center;
}

.endereco {
    padding-top: 15px;
    padding-left: 52px;
}