<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imobiliária da Kiki</title>
    
    <!--Bootstrap css externo-->
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <!--Meu css-->
    <link rel="stylesheet" href="css/styles.css">

    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap">
  </head>

<body>
  <!--barra de navegação-->
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #695783;">
    <div class="container-fluid">
      <a class="navbar-brand" href="principal.html">Imobiliária da Kiki</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="para-alugar.html">Para alugar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="para-vender.html">Para vender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ja-alugado.html">Já alugados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ja-vendidos.html">Já vendidos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Corretor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="perfil-corretor.html">Meu perfil</a></li>
              <li><a class="dropdown-item" href="meus_clientes.html">Meus clientes</a></li>
              <li><a class="dropdown-item" href="contratos.html">Meus contratos</a></li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="cadastrar-corretor.html">Cadastrar Corretor</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="relatorio-vendas.html">Relatórios</a>
              <a class="dropdown-item" href="infograficos.html">Infográficos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../index.html">Sair</a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

      <!--informações-->
    <section>
      <div class="informacoes col-md-12">
        <h1 class="h3">Informações do imóvel</h1>

        <!--imagem e dados -->
        <div class="row container-info">

          <!--imagem-->
          <div class="col-md-2">
            <div class="img-info">
              <img src="imagens/casa1.jpeg" class="img-thumbnail" alt="...">
            </div>
          </div>

          <!--dados-->
          <div class="col-md-10 dados-imovel">
            
            <div class="row col-md-12">
              <div class="col-md-4">
                <label>CEP</label>
                <p>85853-000</p>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <a href="#" class="btn btn-secondary botao-roxo" role="button">Novo contrato</a>
              </div>
            </div>

            <div class=" row col-md-12">

              <div class="col-md-4">
                <label>Rua</label>
                <p>Av. das Cataratas</p>
              </div>

              <div class="col-md-4">
                <label>Número</label>
                <p>1118</p>
              </div>

              <div class="col-md-4">
                <label>Complemento</label>
                <p>Em frente à praça</p>
              </div>

              <div class="col-md-4">
                <label>Bairro</label>
                <p>Vila Yolanda</p>
              </div>

              <div class="col-md-4">
                <label>Cidade</label>
                <p>Foz do Iguaçu</p>
              </div>

              <div class="col-md-4">
                <label>Estado</label>
                <p>Paraná</p>
              </div>

            </div>
          
          </div>
          
        </div>

        <!--detalhes-->
        <h1 class="h3">Detalhes</h1>

        <!--checkboxes-->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" checked disabled>
          <label class="form-check-label"> Alugar
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" checked disabled>
          <label class="form-check-label"> Mobiliado
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" checked disabled>
          <label class="form-check-label"> Aceita pets
        </div>

        <!--carrossel e descrição-->
        <div class="row container-info">

          <!--carrossel-->
          <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="imagens/interior1.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="imagens/interior2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="imagens/interior3.jpeg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <!--descrição-->
          <div class="col-md-5 descricao-imovel">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo enim cum sit soluta. Aliquam molestias distinctio dolor assumenda nemo nobis! Cupiditate modi veniam dolorum eveniet possimus magnam assumenda ratione! Assumenda.</p>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure quis, aperiam natus iusto deserunt est assumenda omnis quaerat voluptatem sequi nihil ducimus excepturi? Voluptatem non corporis tempora, explicabo soluta ut!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos facere officiis voluptatum aut nemo totam, debitis, quasi dolorem dolores odio dicta neque corporis at provident? Possimus vel corporis corrupti laborum?</p>
            <!--textarea class="form-control" rows="15" placeholder="Descrição do imóvel" disabled></textarea-->
          </div>
        </div>

        <!-- mapa -->
        <h1 class="h3">Localização</h1>

        <div class="row container-info">

          <div class="col-md-1"></div>
          <div class="col-md-10" id="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3599.547785578822!2d-54.57206812425992!3d-25.553436077483404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f691a65d79a2af%3A0x4d2b74e7521add5e!2sAv.%20das%20Cataratas%2C%201118%20-%20Vila%20Yolanda%2C%20Foz%20do%20Igua%C3%A7u%20-%20PR%2C%2085853-000!5e0!3m2!1spt-BR!2sbr!4v1697669958770!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-md-1"></div>

        </div>

        <!--valor-->
        <div class="row container-info valor">
            <h2>Valor: R$ 1100,00</h2>
        </div>

      </div>
    </section>

  <!--Bootstrap JavaScript-->
  <script type="text/JavaScript" src="js/bootstrap.js"></script>
  <script type="text/JavaScript" src="js/bootstrap.bundle.js"></script>

</body>
</html>