<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imobiliária da Kiki</title>
    
    <!--Bootstrap css externo-->
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <!--Meu css-->
    <link rel="stylesheet" href="css/style.css">

    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  </head>

<body>

  <!--barra de navegação-->
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #695783;">
    <div class="container-fluid">
      <a class="navbar-brand" href="principal.html">Imobiliária da Kiki</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="para-alugar.html">Para alugar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="para-vender.html">Para vender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ja-alugado.html">Já alugados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ja-vendidos.html">Já vendidos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Corretor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="perfil-corretor.html">Meu perfil</a></li>
              <li><a class="dropdown-item" href="meus_clientes.html">Meus clientes</a></li>
              <li><a class="dropdown-item" href="contratos.html">Meus contratos</a></li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="cadastrar-corretor.html">Cadastrar Corretor</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="RelatorioVendas.html">Relatórios</a>
              <a class="dropdown-item" href="Infograficos.html">Infográfico</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="index.html">Sair</a>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
    <!--RELATORIO DE VENDAS-->

    <h2 class="text-center fw-bolder espaco">Relatório de Vendas</h2>

    <div class="dropdown text-center espaco">
        <button class="btn botao-roxo text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mês
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Janeiro</button></li>
            <li><button class="dropdown-item" type="button">Fevereiro</button></li>
            <li><button class="dropdown-item" type="button">Março</button></li>
            <li><button class="dropdown-item" type="button">Abril</button></li>
            <li><button class="dropdown-item" type="button">Maio</button></li>
            <li><button class="dropdown-item" type="button">Junho</button></li>
            <li><button class="dropdown-item" type="button">Julho</button></li>
            <li><button class="dropdown-item" type="button">Agosto</button></li>
            <li><button class="dropdown-item" type="button">Setembro</button></li>
            <li><button class="dropdown-item" type="button">Outubro</button></li>
            <li><button class="dropdown-item" type="button">Novembro</button></li>
            <li><button class="dropdown-item" type="button">Dezembro</button></li>
        </ul>

        <button class="btn botao-roxo text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ano
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">2023</button></li>
            <li><button class="dropdown-item" type="button">2022</button></li>
            <li><button class="dropdown-item" type="button">2021</button></li>
            <li><button class="dropdown-item" type="button">2020</button></li>
            <li><button class="dropdown-item" type="button">2019</button></li>
        </ul>

    </div>


    <table class="table espaco">
        <thead>
            <tr>
                <th scope="col">0</th>
                <th scope="col">Data</th>
                <th scope="col">Nome</th>
                <th scope="col">Número</th>
                <th scope="col">Tipo</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>20/05</td>
                <td>Juliano Forentino 25/04</td>
                <td>3052</td>
                <td>Casa</td>
                <td>R$ 2450,00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>21/05</td>
                <td>Alvoró Fonseca XIV</td>
                <td>9932</td>
                <td>Casa</td>
                <td>R$ 25.050,50</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>24/05</td>
                <td>Antonio Gostino 11/03</td>
                <td>1130</td>
                <td>Apartamento</td>
                <td>R$ 4400,00</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>25/05</td>
                <td>Juliano Afonso 12/05</td>
                <td>1212</td>
                <td>Casa</td>
                <td>R$ 2450,00</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>28/05</td>
                <td>Domasville 45/01</td>
                <td>1125</td>
                <td>Apartamento</td>
                <td>R$ 2150,00</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>30/05</td>
                <td>Alvoró Fonseca XI</td>
                <td>9111</td>
                <td>Casa</td>
                <td>R$ 4.150,00</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>31/05</td>
                <td>Marcos Lima XIV</td>
                <td>1942</td>
                <td>Apartamento</td>
                <td>R$ 3.025,00</td>
            </tr>

            <tr>
                <th scope="row">7</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bolder">R$ 43.675,00</td>
            </tr>
        </tbody>

    </table>

    <div class="d-grid gap-2 d-md-block text-center">
        <a href="#" class="btn text-light botao-roxo">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
                viewBox="0 0 16 16">
                <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path
                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
            Baixar</a>
        <a href="#" class="btn text-light botao-roxo">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
                viewBox="0 0 16 16">
                <path
                    d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
            </svg>
            Compartilhar</a>
    </div>
    <hr>

    <!--RELATORIO DE VENDAS-->

    <!--RELATÓRIO DE ALUGUEIS-->

    <h2 class="text-center fw-bolder espaco">Relatório de Aluguéis</h2>

    <div class="dropdown text-center espaco">
        <button class="btn botao-roxo text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mês
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">Janeiro</button></li>
            <li><button class="dropdown-item" type="button">Fevereiro</button></li>
            <li><button class="dropdown-item" type="button">Março</button></li>
            <li><button class="dropdown-item" type="button">Abril</button></li>
            <li><button class="dropdown-item" type="button">Maio</button></li>
            <li><button class="dropdown-item" type="button">Junho</button></li>
            <li><button class="dropdown-item" type="button">Julho</button></li>
            <li><button class="dropdown-item" type="button">Agosto</button></li>
            <li><button class="dropdown-item" type="button">Setembro</button></li>
            <li><button class="dropdown-item" type="button">Outubro</button></li>
            <li><button class="dropdown-item" type="button">Novembro</button></li>
            <li><button class="dropdown-item" type="button">Dezembro</button></li>
        </ul>

        <button class="btn botao-roxo text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ano
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button">2023</button></li>
            <li><button class="dropdown-item" type="button">2022</button></li>
            <li><button class="dropdown-item" type="button">2021</button></li>
            <li><button class="dropdown-item" type="button">2020</button></li>
            <li><button class="dropdown-item" type="button">2019</button></li>
        </ul>

    </div>


    <table class="table espaco">
        <thead>
            <tr>
                <th scope="col">0</th>
                <th scope="col">Data</th>
                <th scope="col">Nome</th>
                <th scope="col">Número</th>
                <th scope="col">Tipo</th>
                <th scope="col">Valor p/Mês</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>20/05</td>
                <td>Juliano Forentino 25/04</td>
                <td>3052</td>
                <td>Casa</td>
                <td>R$ 450,00</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>21/05</td>
                <td>Alvoró Fonseca XIV</td>
                <td>9932</td>
                <td>Casa</td>
                <td>R$ 1.050,50</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>24/05</td>
                <td>Antonio Gostino 11/03</td>
                <td>1130</td>
                <td>Apartamento</td>
                <td>R$ 556,00</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>25/05</td>
                <td>Juliano Afonso 12/05</td>
                <td>1212</td>
                <td>Casa</td>
                <td>R$ 950,00</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>28/05</td>
                <td>Domasville 45/01</td>
                <td>1125</td>
                <td>Apartamento</td>
                <td>R$ 550,00</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>30/05</td>
                <td>Alvoró Fonseca XI</td>
                <td>9111</td>
                <td>Casa</td>
                <td>R$ 750,00</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>31/05</td>
                <td>Marcos Lima XIV</td>
                <td>1942</td>
                <td>Apartamento</td>
                <td>R$ 3.025,00</td>
            </tr>

            <tr>
                <th scope="row">7</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bolder">R$ 6.881,50</td>
            </tr>
        </tbody>

    </table>

    <div class="d-grid gap-2 d-md-block text-center">
        <a href="#" class="btn text-light botao-roxo">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
                viewBox="0 0 16 16">
                <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path
                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
            Baixar</a>
        <a href="#" class="btn text-light botao-roxo">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
                viewBox="0 0 16 16">
                <path
                    d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
            </svg>
            Compartilhar</a>
    </div>
    <hr>

    <!--RELATORIO DE ALUGUEIS-->

    <!--Bootstrap JavaScript-->
    <script type="text/JavaScript" src="js/bootstrap.js"></script>
    <script type="text/JavaScript" src="js/bootstrap.bundle.js"></script>
</body>

</html>