<!doctype html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Busca - Imobiliária da Kiki</title>

    <!--Bootstrap css externo-->
    <link href="views/css/bootstrap.css" rel="stylesheet">

    <!--Meu css-->
    <link href="views/css/styles.css" rel="stylesheet">
  </head>
<body>
    
    <h1>Resultado da busca</h1>
    
    <!--Bootstrap JavaScript-->
    <script type="text/JavaScript" src="js/bootstrap.js"></script>
    <script type="text/JavaScript" src="js/bootstrap.bundle.js"></script>
</body>
</html>