/*Pagina toda*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Tudo menos menu lateral e navbar*/
.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/*Início Content*/
.content{
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #F8F9FA;
}

.logo {
    width: 20%;
    margin-bottom: 5%;
}

.login {
    margin-top: 12%;
    margin-left: 10%;
    margin-right: 10%;
    /*background-color: #FEFEFE;*/
    border-radius: 5%;
    max-width: 330px;
    padding: 1rem;
}

.botao-roxo {
    background-color: #695783;
    border-color: #695783 ;
}

.botao-roxo:hover {
    background-color: #45335fdf;
}

/* principal */

.navClientes{
    display: flex;
    justify-content: flex-end;
}

.navClientes a{
    font-size: 18px;
    padding: 10px;
}

.iconPerfil{
    display: flex;
    align-items: center;
    font-size: 28px;
    color: white;
}

.iconPerfil a{
    color: white;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #695783;
}

.navbar-nav > li > .dropdown-menu a:hover {
    background-color: #f0efef77
}

.pesquisa {
    margin-top: 13%;
}

.pesquisa-avancada {
    padding: 20px;
    margin-left: 150px;
}

.imoveis-display {
    margin: 50px 85px 50px 85px;
}

.ultimos-imoveis {
    margin-bottom: 50px;
    padding-left: 52px;
}

.img-thumbnail {
    height: 250px; 
    width: 250px; 
    object-fit: scale-down;
}

.imagem-imovel {
    text-align: center;
}

.endereco {
    padding-top: 15px;
    padding-left: 52px;
}

/*Inicio Cadastro de Clientes*/

.modal-tm{
    width: 1000px; 
}

.espaco{
    margin-top: 10px;
}
/*Fim Cadastro de Clientes*/




